In [1]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df = sns.load_dataset("diamonds")

In [6]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [7]:
idx = np.linspace(1, 100, df.shape[0])

In [48]:
mat_a = np.linspace(1, 10, 100).reshape(25, 4)

In [52]:
mat_b = np.linspace(10, 20, 100).reshape(4, 25)

In [57]:
res = np.dot(mat_a, mat_b)

In [70]:
val = res[0].tolist()
idx = np.linspace(1, 10, len(res[0]))

In [74]:
def Get_Quadratic(x: int, y: int):
    return x**2 + y**2 + 12

In [2]:
import numpy as np


def Get_Quadratic(a, b, c=0):
    # ensure NumPy arrays
    a = np.asarray(a)
    b = np.asarray(b)
    c = np.asarray(c)

    # define x over a range, for example 0â€“9
    x = np.arange(10)

    # compute for all inputs simultaneously
    return a[:, None] * x**2 + b[:, None] * x + c

In [3]:
a_vals = np.random.randint(1, 11, 10000000, dtype="int8")
b_vals = np.random.randint(10, 16, 10000000, dtype="int8")
quad = Get_Quadratic(a_vals, b_vals)

In [12]:
def get_dist(x: np.array, p: np.array):
    return np.sqrt(np.sum((x - p) ** 2, axis=1))

In [14]:
dist = get_dist(quad, np.array([12, 45, 23, 34, 67, 78, 10, 11, 32, 56]))

In [17]:
dist[dist.argmin()]

np.float64(215.13948963405113)

In [24]:
x = np.arange(5)
y = np.arange(3)
z = x + y[:, None]

In [27]:
# (1000000, 3)

In [28]:
x = np.random.randint(1, 2000, (1000000 * 3)).reshape((1000000, 3))

In [33]:
origin = np.zeros(3)

In [53]:
dst = np.sqrt(np.sum(np.square(np.subtract(x, origin)), axis=1))

In [58]:
from numba import jit

In [ ]:
@jit
def get_distance(x: np.array, origin: np.array):
    return np.sqrt(np.sum(np.square(np.subtract(x, origin)), axis=1))

In [74]:
x = np.random.randint(1, 2000, (1000000 * 3)).reshape((1000000, 3))

In [75]:
dst = get_distance(x=x, origin=origin)

In [76]:
x = np.random.randint(2000, 3000, (10_00_000 * 3)).reshape((1000000, 3))

In [77]:
dst = get_distance(x=x, origin=origin)

In [67]:
dst = get_distance(x=x, origin=origin)

In [68]:
dst

array([3867.23221439, 4134.68330105, 3955.89661139, ..., 4610.60321433,
       4595.75053718, 4144.98673098], shape=(1000000,))